@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address, html,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	position: relative;
	height: 100%;
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}


swiper-container {
	width: 100%;
	height: 100%;
}
swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
swiper-slide img {
	display: block;
	width: 100%;
	height: 350px;
}
.swiper-color {
	background-color: #FFEFD5;
}
@media not all and (min-width: 992px) {
	swiper-slide img {
		margin: 20px;
		width: 300px;
		height: 300px;
	}
}


.display {
	width: 70%;
}


.bar-padding {
	padding: 5px 20px 5px 20px;
}


.header-color {
	background-color: lightgray;
}

main {
	background-color: #FFEFD5;
	display: inline-block;
	width: 100vw;
}


.accodion {
	background-color: #FFC7AF;
	margin: 2px;
}
.accodion-header {
	cursor: pointer;
	font-size: 24px;
}


.info {
	margin: 0 auto;
	width: 75%;
	padding-bottom: 30px;
}
.info p {
	font-size: 27px; 
}


.img-info {
	margin: 0 auto;
	width: 75%;
}
.img-info p{
	padding: 15px 0 7px 25px;
	font-size: 22px;
}


#menu01 li {
	margin-bottom: 10px;
}
#menu02 li {
	margin-bottom: 10px;
}
#menu03 li {
	margin-bottom: 10px;
}

.food {
	animation: opacity linear;
	animation-timeline: view();
	animation-range: cover;
}
.shop-info {
	display: flex;
}
.shop-info img {
	margin: 5px 0 25px 15px;
	width: 45%;
}
.text-box {
	font-size: 14px;
	padding: 25px 20px 0 35px;

}
@media not all and (min-width: 992px){
	.shop-info {
		display: block;
	}
	.shop-info img {
		margin: auto;
		width: 100%;
		text-align: center;
	}
	.text-box{
		padding: 0;
	}
}


.address {
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	display: flex;
	animation: opacity linear;
	animation-timeline: view();
	animation-range: cover;
}
.address h1 {
	font-size: 14px;
	padding: 10px 0 0 10px;	
}
.address img {
	width: 45%;
	margin-top: 10px;
	margin-left: 80px;
}
.address-text p {
	font-size: 12px;
	padding-left: 0;
	padding-top: 0;
}
@media not all and (min-width: 992px){
	.address {
		display: block;
		padding-bottom: 0;
	}
	.address img {
		width: 100%;
		bottom: 0;
		margin: 0 auto;
		text-align: center;

	}
}


.shop-list-info {
	animation: opacity-end linear;
	animation-timeline: view();
	animation-range: cover;
}
.shop-list p {
	text-align: center;
}
.shop-list-img {
	display: flex;
}
.shop-list-img img {
	height: 135px;
	width: 135px;
	margin: 0 23px;
	border-radius: 50%;
}
.map {
	display: flex;
	margin-left: 20px;
}
@media not all and (min-width: 992px){
	.shop-list {
		display: none;
	}
	.shop-list-img{
		display: none;
	}
}


@keyframes opacity {
	0%{opacity: 0;}
	30%{opacity: 0;}
	50%{opacity: 1;}
}
@keyframes opacity-end {
	0%{opacity: 0;}
	20%{opacity: 0;}
	30%{opacity: 1;}
}  


.footer {
	height: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
.footer a {
	color: black;
	text-decoration: none;
	margin: 5px;
}
.footer a :hover {
	color: black;
}

footer {
	background-color: darkgray;
}
